/*fonts import link*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", serif;
    scroll-behavior: smooth;
}

:root{
    --text-color: #222;
    --white: #ffffff;
}
section{
    padding: 0 2%;
}
.header{
    text-align: center;
    color: var(--text-color);
    font-size: 2rem;
}
body{
    padding-bottom: 4rem;
    overflow-x: hidden;
}

/*to up*/
.to-up{
    position: fixed;
    bottom: 4rem;
    right: 0.5rem;
    background-color: green;
    color: white;
    width: 2rem;
    height: 2rem;
    border-radius: .2rem;
    z-index: 100;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*section home*/
.home{
    background-image: url(images/slider2-1.jpg);
    width: 100%;
    height: 60vh;
    background-color: rgb(93, 214, 12);
    position: relative;   
    text-align: center;
    background-position: center;
}
.home .logo{
    position: absolute;
    top: 1rem;
    color: white;
    font-size: 4rem;
    left: 50%;
    transform: translateX(-50%);
}
.home h1{
    position: absolute;
    top: 5rem;
    color: white;
    font-size: 2.5rem;
    left: 0;
    right: 0;
}
.home .contact{
    position: absolute;
    bottom: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 10%;
    width: 100%;
    row-gap: .8rem;
}
.home .contact div{
    display: flex;
    color: white;
    font-size: 1.5rem;
    align-items: center;
    margin: 0 3rem 0 3rem;
}
.home .contact div i{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: rgb(65, 228, 16);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 .2rem 0 0;
}
.home .location{
    position: absolute;
    bottom: 1rem;
    color: white;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
}
.home .location i{
    color: rgb(16, 211, 16);
    background: transparent;
}

/*section hotdeals*/
.hot-deals .container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 0.5rem;
}
.hot-deals .container .product{
    width: 100%;
    padding: 0.2rem;
    position: relative;
    background-color: #ffffff;
    height: 17vw;
    overflow: hidden;
    box-shadow:  0 0 3px rgb(150, 149, 149);
    border-radius: .3rem;
}
.hot-deals .container .product .ftre{
    position: absolute;
    top: 0;
    padding: 0.5rem;
}
.hot-deals .container .product .ftre .featured{
    padding: 0.1rem 0.5rem;
    border-radius: 2rem;
    color: var(--white);
    background: tomato;
    font-size: 0.8rem;
}
.hot-deals .container .product .ftre .discount{
    padding: 0.1rem 0.5rem;
    color: var(--white);
    background: rgb(3, 192, 13);
    font-size: 0.7rem;
    margin: 0.5rem 0 0 0;
    border-radius: 2rem;
    width: 3rem;
}
.hot-deals .container .product .l-icons{
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    padding: 0.3rem .5rem;
    background: transparent;
}
.hot-deals .container .product .l-icons .bx-heart,
.hot-deals .container .product .l-icons .bx-low-vision,
.hot-deals .container .product .l-icons .bx-revision{
    font-size: 1.4rem;
    width: 1.8rem;
    height: 1.8rem;
    box-shadow: 1px 0 2px #999;
    color: #888;
    border-radius: .2rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 .5rem 0;
    cursor: pointer;
}
.hot-deals .container .product .image{
    width: 100%;
    height: calc(17vw - 3rem);
    object-fit: contain;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.hot-deals .container .product .image img{
    width: 80%;
}
.hot-deals .container .product .bx-cart{
    width: 2.2rem;
    height: 2.2rem;
    font-size: 1.5rem;
    padding: 0.3rem;
    border: 2px solid rgb(14, 223, 14);
    border-radius: 50%;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 2.4rem;
    margin: 0 .2rem 0 0;
    color: #888;
}
.hot-deals .container .product .description{
    position: absolute;
    bottom: 1.4rem;
    font-size: 0.8rem;
}
.hot-deals .container .product .price{
    position: absolute;
    bottom: 0.2rem;
    padding: 0;
    line-height: 1.8;
    display: flex;
    flex-wrap: wrap;
    font-size: .7rem;
}
.hot-deals .container .product .first-price{
    text-decoration: line-through;
    color: grey;
}






/*bottom navigation*/
.nav-bottom{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #999;
    padding: 0.3rem .5rem;
    display: flex;
    justify-content: space-between;
    background-color: var(--white);
    z-index: 100;
}
.nav-bottom a{
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}



/*breakpoints*/

@media (max-width:1350px){
    .hot-deals .container{
        grid-template-columns: repeat(5, 1fr);
    }
    .hot-deals .container .product{
        height: 22vw;
    }
    .hot-deals .container .product .image{
        height: calc(22vw - 3rem);
        object-fit: contain;
        display: flex;
        align-items: center;
    }
    .hot-deals .container .product .image img{
        width: 100%;
        margin: 0 auto;
    }
}


@media (max-width:1150px){
    .hot-deals .container{
        grid-template-columns: repeat(4, 1fr);
    }
    .hot-deals .container .product{
        height: 30vw;
    }
    .hot-deals .container .product .image{
        height: calc(30vw - 3rem);
        object-fit: contain;
        display: flex;
        align-items: center;
    }
    .hot-deals .container .product .image img{
        width: 100%;
        margin: 0 auto;
    }
}

@media (max-width:950px){
    .hot-deals .container{
        grid-template-columns: repeat(3, 1fr);
    }
    .hot-deals .container .product{
        height: 40vw;
    }
    .hot-deals .container .product .image{
        height: calc(40vw - 3rem);
        object-fit: contain;
        display: flex;
        align-items: center;
    }
    .hot-deals .container .product .image img{
        width: 100%;
        margin: 0 auto;
    }
    .home .logo{
        font-size: 3rem;
    }
    .home h1{
        font-size: 2rem;
    }
    .home .contact div{
        font-size: .7rem;
    }
    .home .contact div i{
        width: 1.5rem;
        height: 1.5rem;
    }
    .home .location p{
        font-size: 0.7rem;
    }
    .home .contact{
        padding: 0;
    }
}

@media (max-width: 750px){
    .hot-deals .container{
        grid-template-columns: repeat(3, 1fr);
    }
    .hot-deals .container .product{
        height: 40vw;
    }
    .hot-deals .container .product .image{
        height: calc(40vw - 3rem);
        object-fit: contain;
        display: flex;
        align-items: center;
    }
    .hot-deals .container .product .image img{
        width: 100%;
        margin: 0 auto;
    }
}

@media (max-width: 550px){
    .hot-deals .container{
        grid-template-columns: repeat(2, 1fr);
    }
    .hot-deals .container .product{
        height: 60vw;
    }
    .hot-deals .container .product .image{
        height: calc(70vw - 3rem);
        object-fit: contain;
        display: flex;
        align-items: center;
    }
    .hot-deals .container .product .image img{
        width: 100%;
        margin: 0 auto;
    }
    .home .logo{
        font-size: 3rem;
    }
    .home h1{
        font-size: 1rem;
    }
    .home{
        height: 40vh;
    }
}

@media (max-width: 450px){
    .hot-deals .container{
        grid-template-columns: repeat(2, 1fr);
    }
    .hot-deals .container .product{
        height: 70vw;
    }
    .hot-deals .container .product .image{
        height: calc(70vw - 3rem);
        object-fit: contain;
        display: flex;
        align-items: center;
    }
    .hot-deals .container .product .image img{
        width: 100%;
        margin: 0 auto;
    }
    .hot-deals .container .product .bx-cart{
        width: 2rem;
        height: 2rem;
        font-size: 1.5rem;
    }
    .hot-deals .container .product .l-icons .bx-heart,
    .hot-deals .container .product .l-icons .bx-low-vision,
    .hot-deals .container .product .l-icons .bx-revision{
        font-size: 1rem;
        width: 1.4rem;
        height: 1.4rem;
        box-shadow: 0 0 4px #999;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .hot-deals .container .product .description{
        font-size: 0.9rem;
    }
    .hot-deals .container .product .price{
        font-size: .7rem;
    }
}
